*{
    padding: 0;
    margin: 0;
}

body{
    background-color: black;
}
.pavel{
    background: url(101.png)no-repeat;
  
    background-size: cover;
    height: 100%;
}

.navbar{
    position: fixed;
    height: 80px;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.4;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}

.navbar ul li{
    list-style: none;
    margin: 0 8px;
    display: inline-block;
    line-height: 80px;
}

.navbar ul li a{
    font-size: 20px;
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
    color: rgb(255, 250, 250);
    padding: 6px 20px;
    text-decoration: none;
    transition: .4s;
}

.navbar ul li a.ctive,
.navbar ul li a:hover{
    background: red;
    border-radius: 2px;
}

.pavel{
display: flex;
} 

.center{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: red;
    font-size: 90px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    font-family: Georgia, serif;;
    text-align: center;
    width: 100%;
}

.center h2{
    color: rgb(255, 250, 250);
    font-size: 40px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 5px;
    font-family: Georgia, serif;
    text-align: center;
    opacity: 0.6;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(0, 0, 0);
    width: 100%;
}

.center h3{
    color: rgb(255, 250, 250);
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 5px;
    font-family: Georgia, serif;
    text-align: center;
    opacity: 0.6;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(0, 0, 0)
    
}

.buttons{
    margin: 50px; 
}

.buttons button{
    height: 50px;
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 250, 250);
    background: red;
    outline: none;
    cursor: pointer;
    border: 1px solid#cc0000;
    border-radius: 25px;
    transition: .4s;
}

.buttons .btn2{
    margin-left: 25%;
}

.buttons button:hover{
    background: #e26817;
}
/* галерия */
.gallery {
    margin: 100px auto 0;
    width: 700px;
}
.gallery a {
    display: inline-block;
    height: 135px;
    position: relative;
    width: 180px;

    -moz-user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}
.gallery a img {

    cursor: pointer;
    display: block;
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 1;


    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

}
/* Вращение  */
.gallery a:nth-child(1) img {
    -moz-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    transform: rotate(-25deg);
}
.gallery a:nth-child(2) img {
    -moz-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}
.gallery a:nth-child(3) img {
    -moz-transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
}
.gallery a:nth-child(4) img {
    -moz-transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.gallery a:nth-child(5) img {
    -moz-transform: rotate(-5deg);
    -webkit-transform: rotate(-5deg);
    transform: rotate(-5deg);
}
.gallery a:nth-child(6) img {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
.gallery a:nth-child(7) img {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}
.gallery a:nth-child(8) img {
    -moz-transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    transform: rotate(10deg);
}
.gallery a:nth-child(9) img {
    -moz-transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    transform: rotate(15deg);
}
.gallery a:nth-child(10) img {
    -moz-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}
.gallery a:nth-child(11) img {
    -moz-transform: rotate(25deg);
    -webkit-transform: rotate(25deg);
    transform: rotate(25deg);
}
.gallery a:nth-child(12) img {
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.gallery a:focus img {
    cursor: default;
    height: 350%;
    left: -150px;
    top: -100px;
    position: absolute;
    width: 350%;
    z-index: 25;
    /* Правила перехода */
    -webkit-transition: all 1.0s ease;
    -moz-transition: all 1.0s ease;
    -o-transition: all 1.0s ease;
    transition: all 1.0s ease;

    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.title{
    color: rgb(255, 250, 250);
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 5px;
    font-family: Georgia, serif;
    text-align: center;
    opacity: 0.6;
}

.contform{
    color: rgb(255, 250, 250);
    font-size: 30px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Georgia, serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(0, 0, 0)
}

.cont{
    color: rgb(255, 250, 250);
    font-size: 20px;
    padding-top: 10px;
    font-weight: bold;
    margin-top: 20px;
    font-family: Georgia, serif;
    text-align: center;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    opacity: 0.6;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    background-color: rgb(0, 0, 0)
}